# trash files by os
.DS_Store
Thumbs.db

# log files
*.log

# Java - class files
*.class

# Android App files
*.apk

# Android Studio - Gradle files
.gradle/
build/
gradle/

# Android Studio - captures folder
captures/

# User-specific configurations
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
*.iml

# other files
*.iml
/local.properties

# Keystore files
*.jks