<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.asv.apps.salarycalculator">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="kr.asv.apps.salarycalculator.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.asv.apps.salarycalculator.activities.ReportActivity"
            android:label="@string/activity_report_title"
            android:parentActivityName="kr.asv.apps.salarycalculator.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.asv.apps.salarycalculator.MainActivity" />
        </activity>
        <activity
            android:name="kr.asv.apps.salarycalculator.activities.WordActivity"
            android:label="@string/activity_word_title"
            android:parentActivityName="kr.asv.apps.salarycalculator.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.asv.apps.salarycalculator.MainActivity" />
        </activity>
        <activity
            android:name="kr.asv.apps.salarycalculator.activities.SettingsActivity"
            android:label="@string/activity_settings_title"
            android:parentActivityName="kr.asv.apps.salarycalculator.MainActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.asv.apps.salarycalculator.MainActivity" />
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
    </application>

</manifest>